*{
    margin: 0;
/*    padding: 0;*/
}
h1 { font: bold 65px/60px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; text-shadow: 0px 2px 6px #333; }

h2 {font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }


body{ 
    background: #1d1d1d; 
    color: #fff; 
    background-repeat:repeat-x; 
}

html, body{
    height: 100%;
}

ul{
    list-style-type:none;
    list-style-position: outside;
    padding: 0;
    margin:0;
}
#mainContent{
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -200px; 
    margin-top: 1rem;
    font-size: 3rem;
}
#mainContent:after {
  content: "";
  display: block;
}
#footer, #mainContent:after {
  /* .push must be the same height as footer */
	height: 200px; 
}

#footer{
    text-align:center;
    background-color: #507F5C;
}
form{
    height:100%;
}
#shopingList {
    width:320px; 
}
#shopingList ul {
    font-style:italic;
    font-family:Georgia, Times, serif;
    font-size:3rem; 
    color:#bfe1f1;  
}

img{
    margin: 2.5rem 3.5rem 0rem 0.5rem;
}

li{
    line-height: 3.5rem;
    padding: 0rem 0rem 2.5rem 0;
    margin-left: 0px;
    background-color: #507F5C;
    border-top:1px solid #00CC32;
    border-bottom: 1px solid #00CC32;
    font-size: 4rem;
}
li img[id="accept"]{
    float:right;
}
.selected{
    text-decoration: line-through; 
    color: #00FF00;
}

img{
    cursor: pointer;
}
input[type="button"]{
    border: medium none;
    width: 13%;
    height: 4rem;
    margin: 2.2rem 0rem 3rem 5rem;
    background-color: #8CFC19;
     font-size: 2.0rem;
}
input[type="text"]{
    float: left;
    text-align: left;
    width: 61%;
    font-size: 3.0rem;
    padding: 0.5rem;
    margin: 2rem 0rem 3rem 5rem;
    color: #333;
}

#shoppingList{
    background-color: #507F5C;
}

/*#shoppingList li{ margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/